/* hk-grotesk thin */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-Thin.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Thin.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Thin.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Thin.ttf') format('truetype');
}

/* hk-grotesk extralight */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraLight.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraLight.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraLight.ttf') format('truetype');
}

/* hk-grotesk light */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-Light.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Light.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Light.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Light.ttf') format('truetype');
}

/* hk-grotesk regular */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Regular.ttf') format('truetype');
}

/* hk-grotesk medium */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-Medium.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Medium.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Medium.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Medium.ttf') format('truetype');
}

/* hk-grotesk semibold */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.ttf') format('truetype');
}

/* hk-grotesk bold */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Bold.ttf') format('truetype');
}

/* hk-grotesk extrabold */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraBold.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraBold.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-ExtraBold.ttf') format('truetype');
}

/* hk-grotesk black */
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/hk-grotesk/HKGrotesk-Black.eot');
    src: local(''),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Black.woff2') format('woff2'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Black.woff') format('woff'),
        url('../assets/fonts/hk-grotesk/HKGrotesk-Black.ttf') format('truetype');
}
