:root {
    --primary: #20584d;
    --primary-opaque: rgba(32,88,77, 0.35);

    --link-font-color: #008080;
    --secondary: #003030;
    --dark: hsl(0, 0%, 16%);
    --lighter-dark: rgb(32, 32, 32);
    --light: #f6f5f4;
    --gray: hsl(0, 0%, 89%);

    --teal: #009688;
    --teal-opaque: rgba(0, 150, 136, 0.4);

    --primary-light: #c5d6d3;
    --teal-light: #b0f0e9;

    --opaque-gray: rgba(58, 58, 58, 0.205);

    --white: white;
}
