@import "../../util/breakpoints";

/* navbar */

.navbar {
    background-color: var(--primary);
    box-shadow: 1px 1px 4px 0 rgba(255, 255, 255, 0.2);
    position: fixed;
    width: 100%;
    z-index: 3;

    a {
        color: var(--light);
        text-decoration: none;
    }
}

.menu > li > a {
    text-transform: uppercase;
}

.navbar {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: var(--primary);
    }

    li a {
        display: block;
        padding: 20px 20px;
        text-decoration: none;
        height: 62px;

        &:hover {
            background-color: var(--teal);
        }
    }

    .menu-btn:hover {
        background-color: var(--teal);
    }

    .logo {
        display: block;
        float: right;
        font-size: 1.5em;
        font-weight: 700;
        padding: 10px 10px;
        text-decoration: none;
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        height: 62px;
        font-weight: 500;

        > li {
            height: 62px;
        }
    }

    .menu-icon {
        display: block;
        float: right;
        top: 18px;
        left: 16px;
        position: absolute;
        user-select: none;
        width: 24px;
        height: 17px;
        cursor: pointer;

        .navicon {
            margin-top: 7px;
            background: var(--light);
            display: block;
            height: 2px;
            position: relative;
            transition: background 0.2s ease-out;
            width: 24px;

            &:before,
            &:after {
                background: var(--light);
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                transition: all 0.2s ease-out;
                width: 100%;
            }

            &:before {
                top: 7px;
            }

            &:after {
                top: -7px;
            }
        }
    }

    .menu-btn {
        display: none;

        /*&:checked ~ {
      .menu {
        max-height: 240px;
      }

      .menu-icon {
        .navicon {
          background: transparent;

          &:before {
            transform: rotate(-45deg);
          }

          &:after {
            transform: rotate(45deg);
          }
        }

        &:not(.steps) .navicon {
          &:before, &:after {
            top: 0;
          }
        }
      }
    }*/
    }
}

.navbar-sidebar-container {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: left;
    z-index: 4;
    background-color: var(--opaque-gray);
    display: none;
}

.navbar-sidebar {
    width: 300px;
    max-width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--light);
    z-index: 5;

    &-logo {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
    }

    &-heading {
        font-size: 1.8em;
        color: var(--dark);
        text-align: center;
        margin-top: 8%;
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        padding-top: 7.5%;
        cursor: pointer;
    }
}

.navbar-sidebar-container.shown {
    display: initial;

    .navbar-sidebar {
        &-list {
            width: 100%;
            height: auto;
            list-style: none;
            padding: 0px;
            margin: 0px;

            &-link {
                width: 100%;
                padding: 10px;
                cursor: pointer;

                &-element {
                    color: var(--dark);
                    font-weight: bold;
                    font-size: 1.1em;
                    height: 1.1em;
                    width: 100%;
                    display: inline-block;

                    &-icon {
                        margin-right: 30px;
                        color: rgba(0, 0, 0, 0.54);
                        height: 1.1em;
                        width: 1.1em;
                    }
                }
            }

            &-link:hover {
                background-color: rgba(160, 160, 160, 0.2);
            }
        }
    }
}



.site-content {
    top: 52px;
}


/* menu */

/* menu icon */

/* menu btn */

/* 48em = 768px */
@media screen and (min-width: 1200px) {
    .navbar {
        .logo {
            float: left;
            font-size: 2em;
        }

        li {
            float: left;

            a {
                padding: 20px 30px;

                i {
                    padding-right: 5px;
                }
            }
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }
    }



    // Sizes that depend on nav bar height
    .site-content {
        top: 62px;
    }
}

